<main class="d-flex">
  <div class="d-flex flex-column justify-content-center">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione cupiditate error quos, exercitationem quidem nam blanditiis. Quam, eligendi molestiae tempora, nihil voluptatibus a sit culpa quae deserunt fugiat esse. Expedita.</p>
  </div>
  <aside>
    <ul>
      <li><a href="#">item1</a></li>
      <li><a href="#">item2</a></li>
      <li><a href="#">item3</a></li>
      <li><a href="#">item4</a></li>
  </ul>
</aside>
</main>